/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@import '~element-ui/lib/theme-chalk/index.css';

@tailwind base;


*,
.el-input__inner,
.el-tabs__item,
.el-switch__label *{
    @apply
        tw-text-base;
}

@import url('https://rsms.me/inter/inter-ui.css');

.el-card__body, .el-card__body:hover {
    font-size: 1.15em;
}

.el-submenu__title i, .el-menu-item i {
    /* color: #Fff; */
    color: #FEDF97;
}

.el-button+.el-button {
    @apply
        tw-m-0;
}

.el-dialog {
    @apply
        tw-rounded;
}

.el-dialog__footer {
    @apply
        tw-p-0;
}

.el-tabs .el-tabs__nav {
    @apply
        tw-py-2;
}

.el-tabs__header {
    @apply
        tw-m-0;
}

.el-tabs__header > div > div {
    @apply tw-px-4;
}

.vgt-inner-wrap {
    @apply
        tw-shadow;
}

body {
    @apply tw-text-base;
    font-family: 'Inter UI', sans-serif;

}

a {
    text-decoration: none;
    @apply tw-text-gray-800;
}

a:hover {
    @apply tw-text-blue-500 tw-no-underline;
}

/**
 * Theme Classes
 *
 */

.main {
    @apply tw-bg-gray-100;
}

.main {
    @apply tw-px-4;
}

.main-sidebar-menu:not(.el-menu--collapse),
.main-logo-container,
.preferences-sidebar-menu:not(.el-menu--collapse) {
    width: 276px;
    
}

.main-nav {
    @apply
        tw-text-base
        tw-flex
        tw-justify-start
        tw-items-center
        tw-px-0
        tw-sticky
        tw-top-0
        tw-z-50;
    /* background-color: #428FBC; 
        tw-border-b*/
}

.main-sidebar-menu {
    @apply
        tw-sticky;
    top: 80px;
    /* background-color: #2D607D; */
    background-color: #254F67;
    /* background-color: #244E66; */
    height: 885px;
}

.main-sidebar-menu .el-menu-item,
.main-sidebar-menu .el-submenu__title {
    @apply
        tw-text-base;
    /* background-color: #2D607D; */
    background-color: #254F67;
    /* background-color: #244E66; */
}


.base-table {
    @apply
        tw-w-full
        tw-bg-white
}

.base-table thead tr th{
    @apply
        tw-py-4
        tw-px-4
        tw-text-xs
        tw-uppercase
        tw-bg-gray-200
        tw-text-gray-700;
}
.base-table th {
  padding: .75em 1.5em .75em .75em;
  vertical-align: middle;
  position: relative; }

.base-table th.sorting {
    cursor: pointer;
}

.base-table th.sorting:after {
    content: '';
    display: none;
    position: absolute;
    height: 0px;
    width: 0px;
    right: 6px;
    top: 50%;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3490DC;
}

.base-table thead th.sorting-asc, .base-table thead th.sorting-desc {
    @apply tw-text-gray-800;
}

.base-table thead th.sorting-asc:after, .base-table thead th.sorting-desc:after {
    content: '';
    display: block;
}

.base-table thead th.sorting-desc:after {
    border-top: 6px solid #3490DC;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: none;
}

.base-table tr > td {
    @apply
        tw-py-4
        tw-px-4
        tw-border-b
        tw-border-gray-200;
}

.base-table tbody tr:last-child td {
    @apply tw-border-none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
