/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

@import url('https://rsms.me/inter/inter-ui.css');
@import '~element-ui/lib/theme-chalk/index.css';

body {
    @apply tw-text-grey-darkest;
    font-family: 'Inter UI', sans-serif;
}

a {
    text-decoration: none;
    @apply tw-text-grey-darkest;
}

a:hover {
    @apply tw-text-blue tw-underline;
}

/**
 * Theme Classes
 *
 */

.main-nav,
.main-nav .user-nav > *,
.main-sidebar,
.main-sidebar li,
.main {
    @apply tw-bg-grey-lightest;
}

.main {
    @apply tw-px-12;
}

.main-nav {
    @apply
        tw-flex
        tw-justify-between
        tw-items-center
        tw-px-12;
}

/*
 Styles for .vgt-inner-wrap which wraps the table headers and body.
 */
.vgt-inner-wrap {
    @apply
        tw-shadow;
}

.base-table {
    @apply
        tw-w-full
        tw-bg-white
}

.base-table thead tr th{
    @apply
        tw-py-4
        tw-px-4
        tw-text-xs
        tw-uppercase
        tw-bg-grey-lighter
        tw-text-grey-darker;
}
.base-table th {
  padding: .75em 1.5em .75em .75em;
  vertical-align: middle;
  position: relative; }

.base-table th.sorting {
    cursor: pointer;
}

.base-table th.sorting:after {
    content: '';
    display: none;
    position: absolute;
    height: 0px;
    width: 0px;
    right: 6px;
    top: 50%;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3490DC;
}

.base-table thead th.sorting-asc, .base-table thead th.sorting-desc {
    @apply tw-text-grey-darkest;
}

.base-table thead th.sorting-asc:after, .base-table thead th.sorting-desc:after {
    content: '';
    display: block;
}

.base-table thead th.sorting-desc:after {
    border-top: 6px solid #3490DC;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: none;
}

.base-table tr > td {
    @apply
        tw-py-4
        tw-px-4
        tw-border-b
        tw-border-grey-lighter;
}

.base-table tbody tr:last-child td {
    @apply tw-border-none;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
